.video-item {
  overflow: hidden;
  

}

.image-item {
  overflow: hidden;
  margin-bottom: 3px;
  margin-top: 3px;
}


.video-wrap {
  position: relative;
}


.image-wrap {
  position: relative;
}

.video-item iframe {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 0;
}

 

@supports (display: grid) {

  .video-grid {
    display: grid;
    grid-template-columns: repeat(2, 500px);
    grid-template-rows: repeat(3, 200px);
   
    margin-bottom: 20px;
    margin-top: 20px;
    margin-right: 0px;
    margin-left: 0px;

    
  }
  
  .video-item {
    margin-top: 0;
  }
  .image-item {
    margin-top: 0;
  }
  
  .video-item iframe {
    border: 0.125rem solid transparent;
  }
  
  .image-grid {
    display: grid;
    grid-template-columns: repeat(3, 333px);
    grid-template-rows: repeat(2, 348px);
    grid-column-gap: 2px;
    grid-row-gap: 7px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-right: 0px;
    margin-left: 0px;
  }
   
}
